$negro: rgba(34,34,34,1);
$negro80: rgba(34,34,34,0.8);
$negro50: rgba(34,34,34,0.5);
$negro10: rgba(34,34,34,0.1);
$blanco: rgba(255,255,255,1);
$blanco50: rgba(255,255,255,0.5);
$blanco20: rgba(255,255,255,0.2);
$blanco10: rgba(255,255,255,0.1);

@mixin icon-btn {
    max-height: 48px;
    max-width: 48px;
    font-size: 24px;
    border: 1px solid $blanco;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    background-color: inherit;
}

@mixin font-family{
    font-family: 'Roboto', sans-serif;
}