@import '/src/app/stylesheets/global.scss';

.input {
    background-color: inherit;
    border: none;
    font-size: 20px;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: $blanco;

    &:focus{
        outline:none;
    }
}