@import '/src/app/stylesheets/global.scss';

.header{
    @include font-family;
    padding: 0px 8px;
    margin: 36px 0;
    font-weight: 300;
    font-size: 36px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons-container {
    @include icons-container;
}