<div class="task-container">
    <app-checkbox class="checkbox" (isChecked)="isTaskCompleted($event)"></app-checkbox>
    <app-task taskDescription="{{taskDescription}}" completedTask="{{taskCompleted}}"></app-task>
    <div class="icons-container">
        <app-btn svg="/assets/svg/calendarBtn.svg" taskIcon="true"></app-btn>
        <app-btn svg="/assets/svg/shareBtn.svg" taskIcon="true"></app-btn>
        <app-btn (click)="getTaskId()" svg="/assets/svg/deleteBtn.svg" taskIcon="true"></app-btn>
    </div>
</div>