@import '/src/app/stylesheets/global.scss';

.task-container{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 16px;
    display: flex;
    background-color: $blanco20;
    border-radius: 4px;
}

.icons-container {
    margin-left: auto;
}

app-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}