@import '/src/app/stylesheets/global.scss';

.task {
    @include font-family;
    color: $blanco;
    margin: 0;
    margin-right: 8px;
    font-size: 24px;
    overflow-wrap: anywhere;
}

.completed-task{
    text-decoration: line-through;
}