@import '/src/app/stylesheets/global.scss';

app-task-list{
    margin-bottom: 160px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: $blanco20;
    margin: 16px 0;
    border-radius: 4px;
}