@import '/src/app/stylesheets/global.scss';

.add-task-section{
    background-color: $blanco10;
    width: 100%;
    display: inline-flex;
    border-radius: 4px;
    position: relative;
}

app-text-input {
    width: 100%;
    margin: 8px 0 8px 8px;
    display: flex;
    align-items: center;
}

.sticky{
    max-width: 512px;
    position: fixed;
    top: 30px;
    background-color: $negro50;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    //backdrop-filter: blur(1px);
    box-shadow: 0px 5px 5px $negro;
    z-index: 1;
}