@import '/src/app/stylesheets/global.scss';

.add-task-section{
    background-color: $blanco10;
    width: 100%;
    display: inline-flex;
    border-radius: 4px;
    position: relative;
    padding: 8px 0;
    padding-right: 0;
}

app-text-input {
    width: 100%;
    margin: 8px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.sticky{
    max-width: 512px;
    position: fixed;
    top: 30px;
    background-color: $negro50;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 5px $negro;
    z-index: 1;
}

@media (max-width: 576px){
    .sticky{
        max-width: min(calc(100vw - 48px), 512px);
    }
}