@import '/src/app/stylesheets/global.scss';

.add-task-section{
    background-color: $blanco20;
    width: 100%;
    display: inline-flex;
    border-radius: 4px;
}

app-text-input {
    width: 100%;
    margin: 8px 0 8px 8px;
    display: flex;
    align-items: center;
}