/* You can add global styles to this file, and also import other style files */
html{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 512px;
}

app-root{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 512px;
}