/* You can add global styles to this file, and also import other style files */
@import './app/stylesheets/global.scss';

html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $negro;
}

body {
    width: 512px;
}

app-root{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 512px;
}